.text-design{
    font-size: 25px;
    font-weight: 700;
    animation: text 3s 1;
}
@keyframes text{
    0%{
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 12px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 3px;
        margin-bottom: -40px;
    }
}
